{% extends "ThreeLineDiary/base.html" %}
{% block content %}
<div class="card card-body" style="max-width: 30rem; height: 30rem;">
    <form action="" method="POST">
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="form-group">
            <label form="{{ field.id_for_label }}">{{ field.label_tag }}</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary btn-lg">送信</button>
    </form>
</div>
{% endblock %}
