{% extends "ThreeLineDiary/base.html" %}
{% block content %}
<div class="container">

    <div class="row">
        <!-- 左側、ユーザーエリア -->
        <div class="col-md-3">
            <div class="card img-thumbnail" style="width: 15rem; height: 16rem;">
                <img class="card-img-top" src="/media/images/cryptobox_rakuten_resize.png" width="318" height="180" alt="Card image">
                <div class="card-body px-2 py-3">
                    <h5 class="card-title">{{ user.username }}
                    <a class="btn btn-primary" href="{% url 'ThreeLineDiary:post_create' user.pk %}" role="button">リンク</a>
                    </h5>
                </div>
            </div>
        </div>
        <!-- 左側、ユーザーエリアおわり -->
        <!--右側、日記エリア-->
        <div class="col-md-9">
            <div class="row">
                 {% for post in post_list reversed %}
                 <div class="card bg-light mb-3 mt-3 mx-3" style="width: 15rem;">
                     <div class="card-body bg-light">
                        <p class="card-text">・{{ post.line_one }}<br>・{{ post.line_two }}<br>・{{ post.line_three }}</p>
                     </div>
                  <div class="card-footer bg-white">{{ post.created_at }}</div>
                 </div>
                {% endfor %}
            </div>
        </div>
        <!-- 左側、日記エリアおわり -->
    </div>
</div>
{% endblock %}