{% extends "ThreeLineDiary/base.html" %}
{% block content %}
<!-- 左側、ログインエリア -->
<div class="container">
    <div class="row justify-content-center mb-3 mt-3">
        <div class="card img-thumbnail" style="width: 15rem; height: 16rem;">
            <img class="card-img-top" src="/media/images/cryptobox_rakuten_resize.png" width="318" height="180" alt="Card image">
            <div class="card-body px-2 py-3">
                <h5 class="card-title">{{ user.username }}
                <a class="btn btn-primary" href="{% url 'ThreeLineDiary:post_create' user.pk %}" role="button">リンク</a>
                </h5>
            </div>
        </div>
        <!-- 左側、ログインエリアおわり -->
    </div>
</div>
{% endblock %}